.reset-box {
  background: #fff;
  padding: 30px;
  text-align: center;
  width: 400px;
  border-radius: 10px;
  padding-top: 4%;
  padding-right: 4%;
}

.reset-box h2 {
  font-size: 1.5rem;
  color: #000;
  font-family: 'Monda', sans-serif;
  margin-bottom: 10px;
  text-align: center;
}

.reset-box p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 15px;
}

.reset-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-top: 10px;
  font-size: 1rem;
  outline: none;
  transition: border 0.3s ease;
} 

.otp-input {
  letter-spacing: 2px;
  text-align: center;
  font-size: 1.2rem;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.password-wrapper input {
  flex: 1;
  padding-right: 45px;
}

.eye-btn {
  position: absolute;
  right: 12px;
  top: 20px;
  cursor: pointer;
  font-size: 1.2rem;
  color: #666;
  transition: color 0.3s ease;
}

.eye-btn:hover {
  color: #222;
}

.reset-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background: #000000d7;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.reset-btn:hover {
  background-color: #000;
}

.back-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.3s ease;
}

.back-icon:hover {
  color: #555;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}